<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCC_MSI_2021.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TCC_MSI_2021.My.MySettings>
            <setting name="Tela1" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho1" serializeAs="String">
                <value />
            </setting>
            <setting name="Label1" serializeAs="String">
                <value />
            </setting>
            <setting name="Tela2" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho2" serializeAs="String">
                <value />
            </setting>
            <setting name="Label2" serializeAs="String">
                <value />
            </setting>
            <setting name="Tela3" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho3" serializeAs="String">
                <value />
            </setting>
            <setting name="Label3" serializeAs="String">
                <value />
            </setting>
            <setting name="Tela4" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho4" serializeAs="String">
                <value />
            </setting>
            <setting name="Label4" serializeAs="String">
                <value />
            </setting>
            <setting name="Tela5" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho5" serializeAs="String">
                <value />
            </setting>
            <setting name="Label5" serializeAs="String">
                <value />
            </setting>
            <setting name="Tela6" serializeAs="String">
                <value />
            </setting>
            <setting name="Caminho6" serializeAs="String">
                <value />
            </setting>
            <setting name="Label6" serializeAs="String">
                <value />
            </setting>
        </TCC_MSI_2021.My.MySettings>
    </userSettings>
</configuration>